<html lang="en">
  <%- include("./layout/header") -%>
  <body>
    <%- include("./layout/navbar") -%>
    <main>
      <h1 class="flex justify-center">Create posts</h1>
    </main>
    <%- include("./layout/footer") -%>
  </body>
</html>