<nav class="bg-gray-800">
  <div class="block mx-4 px-4">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center">
      </div>
      <div class="flex flex-1 justify-start">
        <div class="flex flex-shrink-0 items-center mx-2">
          <img class="block h-8 w-auto" src="images/logo.jpg" alt="logo">
        </div>
        <div class="flex">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Posts</a>
            <a href="/posts/myPosts" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">My Posts</a>
            <a href="/posts/likedPosts" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Liked</a>
            <a href="/posts/createPost" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Create</a>
          </div>
        </div>
      </div>
      <div class="flex flex-1 justify-end">
        <div class="flex">
          <div class="flex space-x-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/login" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Login</a>
            <a href="/signup" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Sign up</a>
            <a href="/logout" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logout</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</nav>
